body{
    background-color:#f2f2f2;
}
.tls_nav{
    position: absolute;
    z-index: 100;
    left: 8px;
    background-color: #fff;
    padding: 12px 0;
    transition: height .2s linear,top .2s linear;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.12);
    height: 360px;
    top: 200px;
}
.toolbar__item {
    color: #000;
    cursor: pointer;
    width: 56px;
    height: 40px;
    padding: 0 0 0 8px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.toolbar__item__inner {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
    transition: opacity .2s linear,border-color .1s linear;
}
.toolbar__item__inner svg {
    width: 24px;
    height: 24px;
}
.toolbar__item__inner svg:hover {
    color: #2aff50;
}
.board-toolbar__customized-box {
    transition: height .2s linear;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 320px;
}
.toolbar__item--customized {
    //position: absolute;
    transition: opacity .2s linear,top .2s linear,left .2s linear;
    top: 0px;
    left: 0px;
}
.toolbar__panel {
    box-sizing: border-box;
    position: absolute;
    left: 60px;
    top: 10000px;
    z-index: 100;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,.08);
    color: #000;
    top:16px;
}
.toolbar__panel--shapes {
    width: 132px;
    height: 272px;
    padding: 16px 0 0 14px;
}
.toolbar__panel--shapes .toolbar__panel__item {
    width: 52px;
    height: 48px;
    padding: 12px 0 0 14px;
    box-sizing: border-box;
}
.toolbar__panel__item {
    position: relative;
    float: left;
    cursor: pointer;
    width: 48px;
    height: 48px;
    transition: -webkit-transform .15s cubic-bezier(.2,.3,.25,.9);
    transition: transform .15s cubic-bezier(.2,.3,.25,.9);
    transition: transform .15s cubic-bezier(.2,.3,.25,.9),-webkit-transform .15s cubic-bezier(.2,.3,.25,.9);
}
.toolbar__panel--shapes .toolbar__panel__item svg {
    width: 24px;
    height: 24px;
}
.toolbar__panel__item svg {
    display: block;
    pointer-events: none;
    width: 48px;
    height: 48px;
    opacity: .8;
}
.canvasContextMenu-hor {
    position: absolute;
    top:200px;
    left:200px;
    border-radius: 2px;
    background-color: #fff;
    z-index: 90;
    min-width:500px;
    height:36px;
    cursor: default;
    font-family: OpenSans,sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.12);
}
.canvasContextMenu-hor .cm-items {
    padding: 0 5px 0 10px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}
.canvasContextMenu-hor .cm-items .cmih-widget-type .icon-box {
    color: #000;
}
.canvasContextMenu-hor .cm-items .icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
}
.toolbar__panel--draw {
    width: 180px;
    top: 74px;
}
.toolbar__panel--draw .draw-tools-box {
    height: 50px;
    padding: 4px 0 0 8px;
}
.toolbar__panel--draw .svg-button {
    float: left;
    width: 36px;
}
.svg-button {
    color: rgba(0,0,0,.8);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 48px;
    cursor: pointer;
}
.svg-button svg {
    width: 24px;
    height: 24px;
}
.toolbar__panel--draw .draw-tools-box .draw-tools-box__close {
    top: 4px;
    right: 6px;
    position: absolute;
}
.toolbar__panel--draw .pen-slider-container {
    opacity: .6;
    margin: 12px 15px 0;
}
.toolbar__panel--draw .colorPalette {
    box-sizing: border-box;
}

.colorPalette {
    max-height: 280px;
    overflow-y: auto;
    padding: 10px;
    padding-right: 0;
    color: #ccc;
    -webkit-overflow-scrolling: touch;
}
.colorPalette_circle {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 15px;
    transition: opacity .2s;
    border: 1px solid rgba(0,0,0,.1);
    float: left;
}
.btn {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn {
    display: block;
    text-align: start;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    white-space: inherit;
    vertical-align: inherit;
    padding: 0;
}
.board-panel--transparent:hover {
    background-color: #fff;
}
.bottom-bar, .bottom-bar__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
}
.bottom-bar {
    min-width:41px !important;
    position: absolute;
    z-index: 100;
    bottom: 8px;
    left: 8px;
    padding: 0 8px;
    transition: width .2s cubic-bezier(.25,.1,.25,.1),-webkit-transform .4s cubic-bezier(.25,.1,.25,.1);
    transition: width .2s cubic-bezier(.25,.1,.25,.1),transform .4s cubic-bezier(.25,.1,.25,.1);
    transition: width .2s cubic-bezier(.25,.1,.25,.1),transform .4s cubic-bezier(.25,.1,.25,.1),-webkit-transform .4s cubic-bezier(.25,.1,.25,.1);
}
.board-panel--transparent {
    border-radius: 4px;
    height: 48px;
    background-color: hsla(0,0%,100%,.8);
    transition: background-color .15s cubic-bezier(.2,.3,.25,.9),-webkit-transform .4s cubic-bezier(.25,.1,.25,.1);
    transition: background-color .15s cubic-bezier(.2,.3,.25,.9),transform .4s cubic-bezier(.25,.1,.25,.1);
    transition: background-color .15s cubic-bezier(.2,.3,.25,.9),transform .4s cubic-bezier(.25,.1,.25,.1),-webkit-transform .4s cubic-bezier(.25,.1,.25,.1);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.bottom-bar__inner {
    overflow: hidden;
    height: 100%;
}
.bottom-bar, .bottom-bar__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.bottom-bar__inner .svg-button {
    width: 40px;
}
.bottom-bar__toggle {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 40px;
}
.bottom-bar__toggle svg {
    color: rgba(0,0,0,.2);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.undo-redo {
    width: 97px;
    margin-left: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.undo-redo .svg-button {
    width: 48px;
}
.board-panel__splitter {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 1px;
    height: 24px;
    margin-top: 12px;
    background-color: rgba(0,0,0,.2);
}
.board-top-right-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
button.rtb-button.red {
    height: 32px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #fff;
    min-width: 65px;
    background-color: #ff2a2a;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board-top-right-panel .rtb-button {
    margin-left: 0;
    margin-right: 8px;
}
.board-panel--transparent .rtb-button {
    margin: 8px;
}
button.rtb-button {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    min-width: 100px;
    padding: 0 10px;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 13px;
    background-repeat: no-repeat;
    transition: color .15s cubic-bezier(.2,.3,.25,.9),border .15s cubic-bezier(.2,.3,.25,.9),background-color .15s cubic-bezier(.2,.3,.25,.9);
}
button, input, select, textarea {
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
}
button {
    cursor: pointer;
}
body, button, input, select, textarea {
    font-family: OpenSans,Arial,Helvetica,sans-serif;
}
.board-top__right {
    z-index: 101;
    right: 8px;
    max-width: calc(100% - 164px);
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.board-top__left, .board-top__right {
    position: absolute;
    top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index:2;
}
.board-top-left-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 1px;
}
.middle-panel{
    height:100%;
    //width:50px;
}
.board-top-left-panel__title--editable {
    cursor: pointer;
}
.board-top-left-panel__title {
    padding: 0 16px;
    font-size: 11px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(0,0,0,.8);
}
.board-top-left-panel .svg-button{
    width:40px;
}
.video-chat.video-chat--pinned {
    width: 271px;
    height: 230px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.12);
    //-webkit-transform: translateY(0)!important;
    //transform: translateY(0)!important;
}
.video-chat.video-chat--with-buttons {
    width: 300px;
}
.video-chat {
    position: absolute;
    bottom:418px;
    right:8px;
    width: 56px;
    height: 48px;
    overflow: hidden;
    transition: width .2s ease,height .2s ease,-webkit-transform .4s cubic-bezier(.25,.1,.25,.1);
    transition: width .2s ease,height .2s ease,transform .4s cubic-bezier(.25,.1,.25,.1);
    transition: width .2s ease,height .2s ease,transform .4s cubic-bezier(.25,.1,.25,.1),-webkit-transform .4s cubic-bezier(.25,.1,.25,.1);
    z-index:2;
}
.video-chat .video-cont{
    height:80%;
    width:100%;
    position:absolute;
    left:0px;
    top:0px;
    display:flex;
    align-items:center;
    box-sizing: border-box;
}
.video-chat .video-controls{
    height:20%;
    width:100%;
    position:absolute;
    bottom:0px;
    left:0px;
}
.video-cont video{
    position:relative;
    height:80px;
    width:100px;
    background-color:black;
    margin-right: 10px;
    top:-30px;
    left:10px;
    border-radius: 10px;
}
.whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    touch-action: none;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAAXNSR0IArs4c6QAAAWFJREFUOBHFkb9Og1AUxgsxTTpQHXwBmZrUB0AGxj6EA4tDYSAEGR2gOrgQjAOLgyaGWKOP4OgCjEajz2AT0hlC8DsN14C1tE6e5Mv9c77z45xLp/OHKMuyC+1D/XoZXz+07VG4jfxJHMd6nucuzntt/qUcCgRoYhjGPZKlJEnPWZZdbAyCsQ9ZYRheEYCpAvmUX/pq/QKGRQe+71+naRqMRqMnBqE1SZIAnmG9prGvAK5pmosRRFF8q4NoNHgcqNsoZIcK4FiWNcXd9wgMRKPBM4F+H2UVgME8z7uB53gtwLbtO1ZUX3Vdf0DxKUS/ezmQoEd0/g9APaGDI9d1b2n7U5qmtY9QAbaKorgUBGHWAtgh78pAF8MoigIYGl2Mx+NH5M6gdgCRYTqkV2eQXq83p8fdGIBCDuZzRVEOBoPBTFXVT1mWC57n35Gbchw3x7o2CGLDtQu9Qi/QB4pzrBvHF5WKOd6JupulAAAAAElFTkSuQmCC") 1 16, auto;
    z-index: 0;
    background-color: transparent;
}
.storeboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    touch-action: none;
    cursor: pointer;
    z-index: -2;
}
canvas {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAAXNSR0IArs4c6QAAAWFJREFUOBHFkb9Og1AUxgsxTTpQHXwBmZrUB0AGxj6EA4tDYSAEGR2gOrgQjAOLgyaGWKOP4OgCjEajz2AT0hlC8DsN14C1tE6e5Mv9c77z45xLp/OHKMuyC+1D/XoZXz+07VG4jfxJHMd6nucuzntt/qUcCgRoYhjGPZKlJEnPWZZdbAyCsQ9ZYRheEYCpAvmUX/pq/QKGRQe+71+naRqMRqMnBqE1SZIAnmG9prGvAK5pmosRRFF8q4NoNHgcqNsoZIcK4FiWNcXd9wgMRKPBM4F+H2UVgME8z7uB53gtwLbtO1ZUX3Vdf0DxKUS/ezmQoEd0/g9APaGDI9d1b2n7U5qmtY9QAbaKorgUBGHWAtgh78pAF8MoigIYGl2Mx+NH5M6gdgCRYTqkV2eQXq83p8fdGIBCDuZzRVEOBoPBTFXVT1mWC57n35Gbchw3x7o2CGLDtQu9Qi/QB4pzrBvHF5WKOd6JupulAAAAAElFTkSuQmCC") 1 16, auto !important;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
.svg-button:hover{
    color:#2aff50 !important;
}
.toolbar__item:hover{
    color:#2aff50 !important;
}
#clrsvg:hover{
    color:red !important;
}
.add_elem{
    height:100%;
    width:100%;
    z-index:-1;
    position:absolute;
    top:0px;
    left:0px;
}
.sticky_note{
    display: block;
	padding:25px 25px 40px;
	margin:0 auto 20px auto;
	width:100px;
	height:100px;   
	font:20px 'Gloria Hallelujah', cursive; 
	line-height:1.5;
	border:0;
	border-radius:3px;
	background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
	background: -moz-linear-gradient(#F9EFAF, #F7E98D);
	background: -o-linear-gradient(#F9EFAF, #F7E98D);
	background: -ms-linear-gradient(#F9EFAF, #F7E98D);
	background: linear-gradient(#F7E98D, #F7E98D);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
	max-width:520px;
	max-height:250px;
    z-index:2;
    position:absolute;
}
.sticky_note:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
.sticky_note:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }
.toolbar__panel--stickers {
    width: 160px;
    height: 450px;
    padding: 24px 0 0 24px;
}
.chat_body{
        height:400px;
        width:300px;
        background-color: hsla(0,0%,100%,.8);
        border-radius:10px;
        -webkit-box-shadow: 11px 6px 105px -39px rgba(0,0,0,0.87);
        -moz-box-shadow: 11px 6px 105px -39px rgba(0,0,0,0.87);
        box-shadow: 11px 6px 105px -39px rgba(0,0,0,0.87);
        position:absolute;
        bottom: 8px;
    right: 8px;
    z-index: 3;
    transition: background-color 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9), transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 0.1), -webkit-transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 0.1);
    }
    .chat_head{
        display: flex;
        justify-content: center;
        align-items: center;
        height:56px;
        width: 100%;
        border-radius:0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color:#c7c9da;
        font-family: 'Roboto Condensed', sans-serif;
        position:absolute;
        top:0;
        border-bottom:1px solid whitesmoke;
    }
    .chat_msgs{
        height:calc(100% - 2*56px);
        width:100%;
        background-color:transparent;
        position:absolute;
        top:56px;
    }
    .chats{
        height:100%;
        width:100%;
        overflow-y: auto;
        overflow-x: hidden;
        color:black !important;
        list-style: none;
        padding:0px;
    }
    .r_msg{
        min-height:40px;
        width:100px;
        background-color: white;
        padding-top:15px;
        padding-bottom:10px;
        padding-left:15px;
        border-radius:100px;
        border-bottom-left-radius: 0px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        position:relative;
        left:10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .s_msg{
        min-height:40px;
        width:100px;
        background-color: white;
        padding-top:15px;
        padding-bottom:10px;
        padding-left:15px;
        border-radius:100px;
        border-bottom-right-radius: 0px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        position:relative;
        left:160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        background-color: #e29ff1;
        color:white;
    }
    .s_img{
        max-height:200px;
        width:120px;
        background-color: white;
        padding:0px;
        border-radius:100px;
        border-bottom-right-radius: 0px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        position:relative;
        left:160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        color:white;
    }
    .s_img img{
        height:100%;
        width:100%;
        border:none;
        border-radius:10px;
        border-bottom-right-radius: 0px;
    }
    .s_link{
        max-height:100px;
        width:160px;
        background-color: white;
        padding:0px;
        border-radius:100px;
        border-bottom-right-radius: 0px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        position:relative;
        left:120px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        color:white;
    }
    .s_link iframe{
        height:100%;
        width:100%;
        border:none;
        border-radius:10px;
        border-bottom-right-radius: 0px;
    }
    .s_emoji{
        min-height:53px;
        width:53px;
        background-color: transparent;
        padding-top:15px;
        padding-bottom:10px;
        padding-left:15px;
        border:none;
        box-shadow: none !important;
        position:relative;
        left:180px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        color:white;
    }
    .chat_form{
        min-height:56px;
        width:100%;
        background-color: transparent;
        border-radius:0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position:absolute;;
        bottom:0;
        border-top:1px solid whitesmoke;
    }
    .chat_msg{
        width:80%;
        height:100%;
        position:absolute;
        left:20%;
        border:none;
        border-bottom-right-radius: 10px;
        padding:5px;
    }
    .chat_msg:focus{
        outline:none;
    }
    .placeholder{
        font-size:13px;
        position:absolute;
        left:21%;
        top:20px;
    }
    .attachments{
        position:absolute;
        right:10px;
        top:10px;
        font-size:40px;
    }
    .drawer{
        height:100px;
        width:100%;
        margin-top:30px;
    }
    .notif{
        height:50px;
        width:100%;
        margin-top:30px;
        justify-content: center;
        align-items: center;
        padding-left:15px;
        padding-top:5px;
        padding-right:15px;
    }
    .dr_btn{
        width: calc(97% / 3);
        height:100%;
        border:none;
        border-right:1px solid whitesmoke;
        float:left;
    }
    .usr_info{
        background-color:transparent;
        width:100%;
        height:10px;
        position:absolute;
        bottom:-15px;
        left:5px;
        font-size:10px;
        color:#bfbaba;
    }
    .usr_info img{
        border-radius:15px;
        height:15px;
        width:15px;
        margin-right:5px;
    }
    .sml{
        background-image: url();
    background-repeat: no-repeat;
    background-size: auto;
        height: 52px;
    width: 52px;
    margin: 0px;
    position: absolute;
        left:5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    }
    .sml:hover{
        background-color:whitesmoke;
    }
    .opt{
        position:absolute;
        height:35px;
        width:100%;
        background-color:white;
        z-index:10;
        padding:0px;
        top:-35px;
        left:0px;
        //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .opt ul{
        list-style: none;
        margin:0px;
        margin-left:-40px;
        width:100%;
    }
    .opt li button{
        background-color:white;
        width:100px;
        float:left;
        height: 100%;
        position:relative;
        border:none;
        border-bottom:1px solid whitesmoke;
    }
    .opt li button:hover{
        background-color:darkgrey;
        color:white;
    }
    .emoji_center{
        height:300px;
        width:100%;
        margin-top:50px;
    }
    .tab_1{
        height:calc(100% - 50px);
        width:100%;
    }
    .emoji_center ul{
        list-style: none;
        width:100%;
        height:100%;
        margin:0px;
        padding:0px;
    }
    .emoji_center ul li{
        padding:10px;
        width:33px;
        height:33px;
    }
.btm_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.chat_body:hover, .chat_form:hover{
    background-color:white;
}
.cmmnt_cont_box{
    width: 100%;
    height: calc(100% - 20%);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 20%;
    border-bottom: 1px solid black;
    background-color: white;
}
.cmmnt_cont_box .nav {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid whitesmoke;
}
.cmmnt_cont_box ul{
    margin: 0;
    padding: 0;
    list-decoration: none;
    margin-top: 21px;
}
.cmmnt_cont_box ul li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 100%;
    height: 15px;
    border-bottom: 0.5px solid black;
    padding-right: -10px;
}
.new_cmnt_box{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20%;
    width: 100%;
    background-color: white;
    border-top: 1px solid black;
}
.new_cmnt_box textarea {
    position: absolute;
    right: 5px;
    width: 70%;
    background-color: white;
    top: 5px;
    border-left: 1px solid whitesmoke;
    padding-left: 5px;
    padding-top: 5px;
}
.cmmnt_cont_box ul li name {
    color: gray;
    font-size: 11px;
    font-family: sans-serif;
}
.animcolor{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    transition:10s ease height;
}
.btm_users{
    height: 200px;
    width: 200px;
    position: absolute;
    right: -208px;
    top: -152px;
    background-color: white;
}
.btm_users ul{
    margin:0;
    padding:0;
    list-style: none;
    overflow:auto;
    width:100%;
    height:100%;
}
.btm_users ul li{
    width:100%;
    height:40px;
    margin-top:10px;
}
.btm_users ul li center{
    margin-left: 40px;
    margin-top: -20px;
}
.btm_users .dpCont{
    width:40px;
    height:40px;
    position:relative;
    left:5px;
    top:10px;
    margin-right:10px;
}
.dpCont img{
    height:40px;
    width:40px;
    margin-right:10px;
    border-radius:100%;
}
.frameLoader{
    position: absolute;
    top: 100px;
    left: 100px;
    height: 200px;
    width: 400px;
    //background-color: #ffffff;
    padding: 20px;
}
.frameLoader iframe {
    width: 95%;
    height: 95%;
    border: none;
    margin-left: 2.5%;
    margin-top: 1.3%;
}
.frameSRC{
    background-color: white;
    min-height:30px;
    width:300px;
    position: absolute;
    top: 100px;
    left: 100px;
    padding:20px;
}
.frameSRC input[type=url]{
    padding:5px;
    border-radius:5px;
    border:1px solid whitesmoke;
    width:200px;
}
.frameSRC input[type=button]{
    background-color:#0093ff;
    color:White;
    width:100px;
    padding:5px;
    border-radius:5px;
    border:1px solid whitesmoke;
    margin-top:10px;
}
@media only screen and (max-height: 500px){
    .bottom-bar{
        transform: translate(287.177px, -294.025px);
     }    
.chat_body{
    transform: translate(3px, 5.31809px);
    width: 218px;
    height: 290.591px;
} 
.tls_nav{
    transform: translate(-9.43822e-08px, -106.627px);
    height:200px;
}
.toolbar__item{
    height:40px;
}
.board-toolbar__customized-box {
    height:160px;
}
    .btm_users{
        right: 100px;
    top: 100px !important;
    }    
    .toolbar__panel--draw {
        top: -12px;
    height: 250px;
    }
    .toolbar__panel--draw .colorPalette {
        max-height: 130px;
    }
    .video-chat{
    display:none !important;    
    top: 186px;
    width: 200px !important;
    height: 165px !important;
    }
}
#remotesVideos{
position:absolute;
top:150px;	
}
#remotesVideos video {
    height: 45px;
    width: 60px;
}
.cmtdetailsbox{
    background-color: white;
    position: absolute;
    top: 30px;
    left: 40px;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
}
.cmnts .cmnts::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#calc {
      height: 650px;
      width: 276px;
      z-index: 10;
      position: fixed;
      top: calc(50% - 250px);
      left: calc(50% - 176px);
      overflow: hidden;
      border: none;
      background-color: white;
      border-radius: 3px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 0 0 0px rgba(0, 0, 0, 0.08) !important;
    }
    #calc iframe {
      height: 100%;
      width: 276px;
      z-index: 10;
      overflow: hidden;
      background-color: rgba(51, 51, 51, 0.55);
      border: none;
      border-radius: 3px;
    }
.canvasContextMenu-hor .cm-items .cmih-widget-type {
    margin-left: 0;
    margin-right: 5px;
}
.canvasContextMenu-hor .cm-items .cm-separator-zleft-m5 {
    margin-left: -5px;
}
.canvasContextMenu-hor .cm-items .cm-item {
    color: #4d4d4d;
    box-sizing: border-box;
}
.canvasContextMenu-hor .cm-items .cm-item, .cmih-item {
    width: 40px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}
